streamlit==1.39.0
streamlit-authenticator==0.1.5
folium==0.19.4
plotly==5.17.0
pandas>=2.1.0
streamlit-folium==0.24.0
firebase-admin
python-dotenv==1.0.1
numpy>=1.26.0  
setuptools>=68.0.0

